/* ! main -> cards Start */
.main__cards, .Gryffindor__cards ,
.Slytherin__cards, .Hufflepuff__cards ,
.Ravenclaw__cards, .Other__cards {
    max-width: 170rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 2rem;
    justify-content: center ;
}
.main__card{
    max-width: 40rem;
    width: 100%;
    height: 60rem;
    transition: 1s;
    
}
.main__card_content{
    padding: 7rem;
    width: 50rem;
    height: 50rem;
    background-image: url("../../image/bg_cards.png");
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}
.main__card__name{
    padding-top: 0.5rem;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: var(--text_color);
}
.main__card__photo img{
    display: flex;
    padding-top: 0.5rem;
    width: 11rem;
    height: 15rem;
    opacity: 0.9;
    object-fit:contain;
}

    

.main__card__secName h4, .main__card__birhday h4 , .main__card__faculty h4{

    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: var(--text_color);
}
.main__buttomInfo{
    margin-top: 1rem;
    border: none;
    background-color: var(--search_color);
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: whitesmoke;
    filter: blur(0.1rem);
    transition: 0.5s;
    
}
button{
    cursor: url("../../image/cursor.png"), auto;
}
.main__buttomInfo:hover{
    filter: none;
    transform: scale(1.15,1.25);
}
.heroHouse img{
    width: 15rem;
    height: 10rem;
    object-fit:contain;
}
.main__card__photo{
    display: flex;
    align-items: center;
    margin-left: -9rem;
    

}
.main__card:hover{
    transition: 1s;
    transform: scale(1.1, 1.1);
}
/* ! main -> cards End */
