.owerlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 29, 29, 0.5);
    z-index: 2;
    display: none;
    transition: 1s;
}
.card__house__logo img{
    width: 20rem;
    height: 15rem;
}
.modal__cards{
    position: fixed;
    margin-bottom: 11rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0rem; 
    max-width: 70rem;
    width: 100%;
    z-index: 3;
    transform: translate(55%, 15%);
    background-image: url(/app/image/moduleBG.png);
    border-radius: 5rem;
    display: none;
    transition: 1s;
}
.card__items{
    padding-left: 2rem;
    padding-right: 2rem;
}
.card__close{
    margin-top: 1.5rem;
    margin-right: 2rem;
    display: flex;
    justify-content: end;
}
.card__name{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.card__name__Actor{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
h3{
    font-size: 2.1rem;
    border: 0.01rem rgba(0, 0, 0, 0.401) solid;
    border-radius: 1rem 950%;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;

}
.owerlay.show{
    transition: 1s;
    display: flex;
}
.modal__cards.show{
    transition: 5s;
    display: inline;
}